
<section class="post">
    <h1>Postagens</h1>
    <a href="/cadastro"><button>Nova Postagem</button></a>
    <section class="block-posts">
        {{#each posts}}
                <div class="content-post">
                    <h1>{{dataValues.titulo}}</h1>
                    <img src={{dataValues.img}} alt="" width="300px" >
                    <small>{{dataValues.updatedAt}}</small>
                    <p>{{dataValues.conteudo}}</p>
                    
                    <div class="menu-buttons">
                        <div class="b-none">
                            <button value="{{dataValues.id}}">Deletar</button>    
                            <a href="/editar/{{dataValues.id}}"><button>Editar</button></a>
                        </div>
                    </div>
                </div>          
        {{/each}}
    </section>
</section>
<script> 
    
    // DELETA POST
    $(document).ready(() => {
        $('button[value]').on('click', event => {
            $.ajax({
                url: `/deletar?id=${event.target.value}`,
                type: 'DELETE',
                success: (data) => {
                    document.location.reload(true)
                }
            })
        })
    })

    document.querySelectorAll('.menu-buttons').forEach((element, index)  => {
        element.addEventListener('click', () => {
            console.log(element.firstChild)
        })
    })
</script>
